.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  background: #ffffff;
  border-radius: 25px;
  padding: 20px;
}
